@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --backround: #F5F5F5;
  --lightblue: #EDF1F4;
  --donker: #171833;
  --pink: #E758AF;
  --lightpink: #F4DFEB;
  --purple: #9665D9;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--donker);
  background-color: var(--backround);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-con{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 5px;
}

.navbar-menu{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.navbar-menu a{
  text-decoration: none;
  color: var(--donker);
}

/* footer */
/* footer */
footer {
  margin-left: 5%;
  margin-top: 2%;
}
/*CSS first section*/
.first-section {
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
}
/*CSS first section*/
/*CSS second section*/
.second-section {
  margin-top: 10%;
}
/*data properties*/
.Data {
  margin-right: 8%;
}
.first-text {
  margin-top: 45px;
  line-height: 25px;
}
.second-text {
  margin-top: 20px;
  line-height: 25px;
  font-size: 12px;
}
/*data properties*/
.heading {
  display: flex;
  gap: 15%;
}
.about {
  display: grid;
  line-height: 250%;
}
/*link properties*/
a {
  text-decoration: none;
  color:#000;
}
a:hover {
  text-decoration : underline;
}
a:active {
  text-decoration: underline;
}
/*link properties*/
.Help {
  display: grid;
  line-height: 250%;
}
.sosmed {
  line-height: 250%;
}
/*CSS second section*/
/*button properties*/
button:first-child{
  background-color: rgb(238, 130, 238);
  color: white;
}
button {
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border: 0px;
}
.button-wrap {
  display: flex;
  gap: 50px;
} 
/*button properties*/
/*CSS last section*/
.last-section {
  margin-top: 8%;
}
.last-section p {
  font-size: 12px;
}
/* footer */

/* home */
.home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
}
.home-text{
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.home-img img{
  width: 700px;
  z-index: -1;
}
.home h1{
  font-weight: 800;
  font-size: 4.5rem;
  margin: 0;
}
.home p{
  word-wrap: break-word;
  width: 580px;
  font-weight: 400;
}
.home button{
  font-weight: 500;
  background-color: var(--purple);
  color: var(--backround);
  transition: 0.3s;
}
.home button:hover{
  background-color: var(--lightblue);
  color: var(--donker);
}
/* home */

/* about */
.about-section{
  background-color: var(--lightpink);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: 8%;
  padding: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 50px;
}
.about-img img{
  width: 550px;
}
.about-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-text h1{
  margin: 0;
  font-weight: 700;
  font-size: 2.5rem;
}
.about-text p{
  padding-top: 10px;
  font-weight: 500;
  word-wrap: break-word;
  font-size: 0.9rem;
  /* width: 450px; */
  margin: 0;
}
/* about */

/* features */
.features{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8%;
  gap: 50px;
}
.features-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.features-text h1{
  margin: 0;
  font-weight: 700;
  font-size: 2.5rem;
}
.features-text p{
  margin: 0;
  word-wrap: break-word;
  width: 550px;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}
.fecard-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.fecardres-con{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.blue{
  background-image: url(./components/assets/boxblue.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 345px;
}
.pink{
  background-image: url(./components/assets/boxpink.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 345px;
}
.fecard{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fecard-img img{
  width: 300px;
}
.fecard-text{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.fecard-text h2{
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.fecard-text p{
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  word-wrap: break-word;
  width: 250px;
}
/* features */

/* testimonial */
.testimoni{
  margin: 8%;
  padding: 80px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--purple);
}
.testimoni-text h1{
  margin: 0;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--backround);
}
.carousel{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.element{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dot{
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: var(--backround);
}
.arrow{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.card{
  background-color: var(--backround);
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  border: 0.1px solid var(--purple);
  border-radius: 25px;
}
.card-img img{
  width: 100px;
  border-radius: 100%;
}
.card-name{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.card-name h1{
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
}
.card-name h5{
  margin: 0;
  font-weight: 500;
  font-size: 0.9rem;
}
.card-text p{
  padding-top: 10px;
  font-weight: 400;
  word-wrap: break-word;
  width: 450px;
  margin: 0;
}
/* testimonial */

/* responsive */
/* tablet */
@media screen and (max-width: 768px) {
  .first-section {
      flex-direction: column;  
  }
  .button-wrap {
      margin-top: 50px;
      gap: 25px;
  }

  .heading {
      flex-wrap: wrap;
      gap: 5%;
  }

  .second-section {
      margin-top: 25%;
  }

  .first-section {
      margin-top: 10%;
  }

  .last-section {
      margin-top: 25%;
  }
}
/*tablet*/

/*mobile*/
@media screen and (max-width: 500px) {
  .heading {
      gap: 10%;
  }

  .last-section {
      margin-top: 3%;
  }

  .first-text {
      margin-top: 15px;
  }

  .second-text {
      margin-top: 15px;
      margin-bottom: 20px;
  }
}
/*mobile*/
/* responsive */